@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");

@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Redressed&family=Whisper&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Light Mode Color Scheme ===== */
  /* --body-color: transparent;
  --sidebar-color: #ffffff;
  --primary-color: #3b4cab;
  --secondary-color: #4a4fddd5;
  --primary-color-light: #f6f5ff;
  --text-color: #707070;
  --panel-color: #fff;
  --border-color: #e6e5e5;
  --placeholder-color: #aaa;
  --light-color-normal: #ccc;
  --toggle-color: #ddd;
  --light-color: #eee;
  --title-icon-color: #fff;
  --table-border: #eaeaea;
  --success: green;
  --table-heading: dodgerblue;
  --disabled: #56595d35;
  --button-text: #e9e9e9;  */
  /* ===== Dark Mode Color Scheme ===== */
  --body-color: #121212;
  --sidebar-color: #333;
  --primary-color: #58a4b0;
  --secondary-color: #5a5f9d;
  --primary-color-light: #2e2e2e;
  --text-color: #e0e0e0;
  --panel-color: #242424;
  --border-color: #444;
  --placeholder-color: #555;
  --light-color-normal: #666;
  --toggle-color: #777;
  --light-color: #888;
  --title-icon-color: #aaa;
  --table-border: #3a3a3a;
  --success: #4caf50;
  --table-heading: #1e90ff;
  --button-text: #e9e9e9;
  --disabled: #525252;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: var(--tran-05);
}

body.dark {
  /* Dark Mode Color Scheme */
  --body-color: #121212;
  --sidebar-color: #333;
  --primary-color: #58a4b0;
  --secondary-color: #5a5f9d;
  --primary-color-light: #2e2e2e;
  --text-color: #e0e0e0;
  --panel-color: #242424;
  --border-color: #444;
  --placeholder-color: #555;
  --light-color-normal: #666;
  --toggle-color: #777;
  --light-color: #888;
  --title-icon-color: #aaa;
  --table-border: #3a3a3a;
  --success: #4caf50;
  --table-heading: #1e90ff;
  --button-text: #e9e9e9;
  --disabled: #525252;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--toggle-color);
  color: var(--primary-color);
}

.alert {
  padding: 10px;
  background-color: var(--success);
  color: var(--panel-color);
  margin-bottom: 15px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.6s;
}

@keyframes blink { 0%, 100% { opacity: 1; } 50% { opacity:0; }}

.closebtn {
  margin-left: 15px;
  color: var(--panel-color);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: var(--primary-color);
}
.ribbon-pop {
	--f: 10px;
	--r: 15px;
	--t: 0px;
	position: absolute;
	inset: var(--t) 0 auto auto;
	padding: 0 10px var(--f) calc(10px + var(--r));
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)),
		calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)),
		0 calc(100% - var(--f)), var(--r) calc(50% - var(--f)/2));
	background: green;
	z-index: 200;
	color: white;
	box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

li {
  list-style: none;
}

.form-middle {
  max-width: 100%;
}

.border-top{
	width: 100%;
	border-top: 1px dashed var(--border-color);
}

.border-bottom{
	width: 100%;
	border-bottom: 1px dashed var(--border-color);
}

.error-message {
  display: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 5px;
  font-size: clamp(8px, 2vw, 12px);
  margin-top: 5px;
  border-radius: 4px;
  margin-top: 5px;
}

.error-message::before {
  content: "\2139";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d8000c;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-right: 5px;
}

.error-message.show {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

bold,
.bold {
  font-weight: bold;
}

select {
  padding: 3px;
  font-size: 16px;
  background-color: var(--panel-color);
  border: 1px solid var(--toggle-color);
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  color: var(--text-color);
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  border-color: var(--primary-color);
}

select::placeholder {
  color: var(--placeholder-color);
}

.red {
  background-color: red;
}

.line {
  border: 0;
  height: 0;
  border: 1px solid var(--toggle-color);
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* ===== Sidebar ===== */
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 2000;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  box-shadow: rgba(150, 150, 193, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.1) 0px 18px 36px -18px inset;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar li.active {
  background-color: var(--primary-color);
}

.sidebar li.active .icon,
.sidebar li.active .text {
  color: white;
}

/* .sidebar li.active:hover .icon,
.sidebar li.active:hover .text {
  color: var(--text-color);
} */

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
  display: block;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  z-index: 100;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 10px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .bottom-content {
  bottom: 0;
  position: sticky;
}
/* ===== Sidebar End ===== */
/* ===== Sidebar Tooltip ===== */
.sidebar.close .nav-link .tooltip .tooltip-text {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 100%;
  top: auto;
  bottom: auto;
  transform: translateY(-50%);
  margin-left: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar.close .nav-link .tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(90deg);
  border: 5px solid transparent;
  border-right-color: black;
  transition: border-color 0.3s ease;
}

.sidebar.close .nav-link .tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.sidebar:not(.close) .nav-link .tooltip .tooltip-text {
  display: none;
}
/* ===== Sidebar Tooltip End ===== */
button {
  border: none;
  cursor: pointer;
}
/* ===== Main Container ===== */
.main {
  transition: margin-left 0.3s ease;
  margin-left: 88px;
  display: grid;
}
/* ===== Topbar Header ===== */
.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  top: 0;
  gap: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  z-index: 1000;
}

.topbar h1 {
  font-size: 42px;
  margin: 0;
  justify-content: flex-start;
  color: var(--primary-color);
  font-family: "Redressed", cursive;
  font-weight: 400;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .topbar h1 {
    display: block;
    font-size: 18px;
    margin: 0 auto;
    color: var(--primary-color);
    font-family: "Redressed", cursive;
    font-weight: 400;
  }
}

.topbar button {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.topbar button i {
  font-size: 22px;
  padding: 10px;
  color: var(--primary-color);
}

.topbar button i:hover {
  color: var(--success);
}

.topbar-img {
  width: 50px;
  filter: drop-shadow(0 1px 3px var(--text-color));
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.topbar-img:hover {
  filter: drop-shadow(0 1px 2px var(--text-color));
}

/* Modern popover menu design */
.popover-menu {
  display: none;
  position: absolute;
  top: 65px;
  right: 0;
  transform: translateX(0);
  color: var(--text-color);
  background-color: var(--panel-color);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  z-index: 2;
  transition: all 0.3s ease;
  max-width: 200px;
}

.popover-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popover-menu ul li {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.popover-menu ul li:hover {
  background-color: var(--light-color);
}

.popover-menu.show {
  display: block;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* ===== Topbar Ends ===== */
.main-container {
  padding: 10px;
  transition: var(--tran-05);
}

.main-container h1 {
  margin-bottom: 10px;
}

.main-container .text {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color);
}
/* ===== Main Ends ===== */
/* ===== Table Responsive ===== */
.table-container {
  max-width: 100%;
  padding: 20px;
  background-color: var(--panel-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left-controls,
.right-controls {
  display: flex;
  align-items: center;
}

.controls label {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--text-color);
}

.controls input[type="text"],
.controls select {
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--panel-color);
  border: 1px solid var(--toggle-color);
  color: var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.controls input[type="text"]:focus,
.controls select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  border-color: var(--primary-color);
}

input[type="text"]::placeholder {
  color: var(--placeholder-color);
}

.controls select {
  background-color: var(--panel-color);
  color: var(--text-color);
  cursor: pointer;
  padding-right: 1px;
}

.controls .select-wrapper {
  position: relative;
}

.table-responsive {
  overflow-x: auto;
  height: 100%;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--toggle-color);
}
.td-tooltip-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.td-tooltip-text {
  visibility: hidden;
  width: 280px;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  text-align: left;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s ease-in-out,
    margin-bottom 0.3s ease-in-out;
}

.td-tooltip-container:hover .td-tooltip-text {
  visibility: visible;
  opacity: 1;
  margin-bottom: 0px;
}


.tooltip-container-order {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip-text-order {
	visibility: hidden;
	width: 280px;
	background-color: var(--sidebar-color);
	color: var(--text-color);
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 1;
	bottom: -90%;
	left: 100%;
	transform: translateX(-50%);
	margin-bottom: 0;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s ease-in-out;
}

.tooltip-container-order:hover .tooltip-text-order {
	visibility: visible;
	opacity: 1;
}
/* ===== Table Sortable Responsive ===== */
.table-sortable th {
  cursor: pointer;
}

.table-sortable .sortable::after {
  content: "\2195"; /* default sorting icon */
  margin-left: 5px;
}

.table-sortable .th-sort-asc::after {
  content: "\2B18"; /* up arrow */
}

.table-sortable .th-sort-desc::after {
  content: "\2B19"; /* down arrow */
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.hidden {
  display: none;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 1px solid var(--toggle-color);
}

th {
  background-color: var(--table-heading);
  color: var(--panel-color);
}
/* ===== Pagination ===== */
.pagination-area {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-info {
  font-size: 16px;
  color: var(--text-color);
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination button {
  background-color: var(--panel-color);
  color: var(--primary-color);
  text-align: center;
  border: 1px solid var(--toggle-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.pagination button:hover,
.pagination button:focus {
  background-color: var(--primary-color);
  color: var(--panel-color);
  outline: none;
}

.table-container .pagination button.active {
  background-color: var(--primary-color);
  color: var(--panel-color);
  border-color: var(--primary-color);
}

.pagination button[disabled] {
  background-color: var(--disabled);
  color: var(--text-color);
  cursor: not-allowed;
}
/* ===== Table Responsive Ends ===== */

/* ===== Custom Input Types ===== */
.form {
  max-width: 100%;
  padding: 20px;
  display: grid;
  background-color: transparent;
  border-radius: 12px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
  gap: 10px;
}

.form-group {
  min-width: 250px;
  margin-bottom: 5px;
  flex: 1 1 250px;
}

.form label {
  align-items: center;
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
  font-weight: 600;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--placeholder-color);
}

.form input,
.form select,
.form textarea {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  resize: none;
  background-color: var(--panel-color);
  color: var(--text-color);
  transition: border-color 0.3s ease;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.form input[type="submit"] {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--panel-color);
  border: none;
  transition: background-color 0.3s ease;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.form input[type="submit"]:hover {
  box-shadow: 0.6px 0.6px 5px 0.1px var(--text-color);
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  /*border-color: #007bff; */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  border-color: var(--primary-color);
}

.mt-5 {
  margin-top: 10px;
}

.mr-5 {
  margin-right: 10px;
}

.ml-5 {
  margin-left: 10px;
}
/* ===== Custom Input Types Ends ===== */

h2 {
  position: relative;
  margin: 0;
  color: var(--primary-color);
  font-size: 24px;
  padding-bottom: 5px;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(to right, #86229f, #ac77b5bd);
}

/* ===== Breadcrumb Section Starts ===== */
.breadcrumb {
  font-family: Arial, sans-serif;
  padding: 10px 0;
  width: 100%;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

.breadcrumb ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  list-style-type: none;
}

.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb li a:hover {
  color: #025aa5;
}

.breadcrumb li:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
  color: #6c757d;
}

.breadcrumb li:last-child {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
/* ===== Breadcrumb Section Ends ===== */

/* ===== Box Overview ===== */
.box-overview {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.info-box {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sidebar-color);
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.box-overview-resto {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
  gap: 20px;
}

.info-box-resto {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--sidebar-color);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.info-box-icon {
  display: flex;
  align-items: center;
}

.info-box-icon img {
  width: 60px;
  height: 60px;
}

.info-box-content {
  flex: 1;
}

.info-box-text,
.info-box-number {
  margin: 0;
}

.info-box-text {
  font-size: 18px;
  font-weight: 500;
}

.info-box-number {
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
}

.info-box-resto:hover,
.info-box:hover {
  transform: translateY(-8px);
  cursor: pointer;
  background-color: var(--primary-color-light);
  color: var(--primary-color);
}
/* ===== Box Overview Ends ===== */
/* ===== Notification Progress ===== */
.notification {
  position: fixed;
  top: 90px;
  right: 16px;
  width: max-content;
  max-width: 90%;
  z-index: 3000;
  border-radius: 6px;
  background-color: #86229f;
  color: #aaec8a;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear forwards;
}

.notification .icon {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.notification .body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 6px;
  z-index: 2000;
}

.notification .progress {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, #313e2c, #aaec8a);
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
  }
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}

@media (max-width: 766px) {
  .notification {
    top: 20px;
    right: 8px;
    font-size: 14px;
  }

  .notification .icon {
    height: 18px;
    width: 18px;
  }

  .notification .body {
    padding: 8px 4px;
  }

  .topbar h1 {
    font-size: 20px;
    display: block;
  }
}

/* ===== Notification Progress Ends ===== */
/* ===== Modern Buttons ===== */

.button-25:after,
.button-25:before,
.div-flex-items-center-justify-center:after,
.div-flex-items-center-justify-center:before,
.span-flex-items-center-h-16-w-auto-mr-8-py-2-flex-grow-0-flex-shrink-0-fill-current:after,
.span-flex-items-center-h-16-w-auto-mr-8-py-2-flex-grow-0-flex-shrink-0-fill-current:before,
.svg-block-h-full:after,
.svg-block-h-full:before {
  border: 0 solid #003dff;
  box-sizing: border-box;
}

.button-25:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transform: scale(1.05) rotate(-1deg);
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-25 {
  margin-top: 5px;
  background-color: transparent;
  background-image: linear-gradient(#5172ff, #003dff);
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-size: 11px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline-block;
  font-family: Hind, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 600;
  white-space-collapse: collapse;
}

.button-29 {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-29:focus:not(:focus-visible),
.button-29:focus {
  outline: 0;
}

.button-29:hover {
  background-color: #3733e5;
  border-color: #3733e5;
}

.button-29:focus {
  background-color: #413fc5;
  border-color: #3e3bba;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-29:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-29:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}

.button-29:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.left {
  display: flex;
  justify-content: flex-start;
}

/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* ===== Modern Buttons Ends ===== */
/* ===== Modern Checkbox ===== */
.checkbox-wrapper-5 .check {
  --size: 30px;
  margin-top: 10px;
  position: relative;
  background: linear-gradient(90deg, #f19af3, #f099b5);
  line-height: 0;
  perspective: 400px;
  font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
  appearance: none;
  display: inline-block;
  border-radius: var(--size);
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.checkbox-wrapper-5 .check label {
  width: calc(2.2 * var(--size));
  height: var(--size);
  background: #d7d7d7;
  overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
  left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
  background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: calc(0.15 * var(--size));
  top: calc(0.5 * var(--size));
  height: var(--size);
  letter-spacing: calc(-0.04 * var(--size));
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: calc(0.6 * var(--size));
  border-radius: 0;
  transform-origin: 0 0 calc(-0.5 * var(--size));
  backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
  content: "●";
  top: calc(0.65 * var(--size));
  left: calc(0.2 * var(--size));
  height: calc(0.1 * var(--size));
  width: calc(0.35 * var(--size));
  font-size: calc(0.2 * var(--size));
  transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
  left: calc(1.55 * var(--size));
  top: calc(0.4 * var(--size));
  line-height: calc(0.1 * var(--size));
  transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
  height: calc(0.16 * var(--size));
  top: calc(0.55 * var(--size));
  left: calc(1.6 * var(--size));
  font-size: calc(0.6 * var(--size));
  line-height: 0;
}
/* ===== Modern Checkbox Ends ===== */

/* ===== Restaurant Home ===== */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  align-items: flex-start;
}

.column-sections {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.side-section {
  position: sticky;
  top: 90px;
  max-width: 600px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

/* ===== Restaurant Home ===== */
.restaurant-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.restaurant-header-main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.restaurant-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  z-index: 1000;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
}

.header-top > img {
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 20px;
}

.restaurant-header > .text,
.right-end {
  justify-content: end;
}

.right-end p {
  background-color: var(--success);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--panel-color);
  font-size: 14px;
  justify-content: end;
  margin: 0;
}

.restaurant-header h1 {
  padding-left: 10px;
  font-size: 28px;
  font-weight: 600;
  color: linear-gradient(161.15deg, #6714cc 12.73%, #2e68f5 72.95%);
}

.restaurant-header span,
.resto-info,
.resto-info span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
  font-size: 18px;
  display: flex;
  padding: 5px 0px;
  gap: 10px;
}

.resto-info {
  justify-content: space-around;
  align-items: center;
}
.dotted-line {
  margin: 10px 10px 0 0;
  border-style: dashed;
  border-color: var(--border-color);
}

.resto-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 6px 0 0 0;
}

.resto-info button {
  padding: 6px;
  font-size: 16px;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: fit-content;
}

.resto-info i {
  font-size: 20px;
}

.info-hidden {
  transition: opacity 0.4s, max-height 0.4s ease-out;
  max-height: 500px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 1;
}

.sticky-header {
  background-color: var(--sidebar-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.sticky-header .info-hidden {
  max-height: 0;
  opacity: 0;
}

.restaurant-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  gap: 4px;
}

.restaurant-content span {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 0 2px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.restaurant-content a {
  color: var(--text-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}
.restaurant-content a:hover {
  text-decoration: underline;
}
.action-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--button-text);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  padding: 0 5px 5px 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.action-btn:focus {
  border: 2px solid var(--border-color);
}
.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.ribbon-2 {
  --f: 10px;
  --r: 15px;
  --t: 10px;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #bd1550;
  z-index: 2000;
  color: white;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}
/* ===== Restaurant Main Header Ends ===== */
/* ===== Menu Item Card ===== */
.menu-container-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
}

.menu-card {
  border: 1px solid var(--border-color);
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.menu-card p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: start;
}

.menu-image-container {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.menu-image-container .item-img {
  display: block;
  height: 120px;
  display: block;
  width: 100%;
  object-fit: cover;
  image-rendering: auto;
}

.menu-image-container .type {
  position: absolute;
  top: 0px;
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  width: 20px;
  right: 0px;
}
/* ===== Menu Item Card ===== */
/* ===== Grid & Table Buttons ===== */
.toggle-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
}

.toggle-buttons button {
  color: white;
  color: #777;
  display: grid;
  align-items: center;
  padding: 10px;
  background: transparent;
  box-shadow: rgba(150, 150, 193, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.1) 0px 18px 36px -18px inset;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.toggle-buttons button i {
  font-size: 24px;
}

.view-container {
  display: none;
}

.active {
  display: block;
}

.toggle-buttons button.active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 768px) {
  .restaurant-main-container {
    grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
  }
}

/* Adjustments for small screens, e.g., mobile devices */
@media (max-width: 480px) {
  .restaurant-main-container {
    grid-template-columns: 1fr; /* Switch to 1 column */
  }
}
/* ===== Grid & Table Buttons ===== */
